[submodule "submodules/durabletask-protobuf"]
	path = submodules/durabletask-protobuf
; 	I will update this once my durabletask-protobuf PR is merged
	url = https://github.com/cicoyle/durabletask-protobuf
	branch = feature-wf-ctx-propagation
